/Assets/NuGet/Editor/NugetForUnity.dll
/Assets/NuGet/Editor/NugetForUnity.dll.meta
/Assets/NuGet/Editor/NuGetForUnity.PluginAPI.dll
/Assets/NuGet/Editor/NuGetForUnity.PluginAPI.dll.meta
/Assets/NuGet/Editor/NuGetForUnity.PluginAPI.xml
/Assets/NuGet/Editor/NuGetForUnity.PluginAPI.xml.meta
/Assets/NuGet/Resources/defaultIcon.png
/Assets/NuGet/Resources/defaultIcon.png.meta
/Assets/NuGet/Editor.meta
/Assets/NuGet/LICENSE
/Assets/NuGet/LICENSE.meta
/Assets/NuGet/README.pdf
/Assets/NuGet/README.pdf.meta
/Assets/NuGet/Resources.meta
